.clearfix{
	*zoom:1; 
}
.clearfix::before,.clearfix::after{
	content: "";
	display: table;
}
.clearfix::after{
	clear: both;
	overflow: hidden;
}
*{
	padding: 0;
	margin: 0;
}
html{
	box-sizing: border-box;
}
*,*::after,*::before{
	box-sizing: inherit;
}
a{
	text-decoration: none;
	color: inherit;

}
.icon {
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
}
li{
	list-style: none;
}
body{
	background: rgb(238,237,237);
}
