header{
	height: 55px;
	width: 100%;
	background: rgb(34,137,191);
	position: relative;
}
header img[alt=logo]{
	margin:10px 20px;

}
header input[name=search]{
	width: 310px;
	height: 25px;
	position: absolute;
	border:none;
	bottom: 15px;
	right: 160px;
	border-radius: 15px;
	text-indent: 20px;
	transition-property: width, border-radius;
    transition-duration: 1s, 1s
    margin-right:20px;
    background: url(../img/search.png) no-repeat 5px center,white;
}

header a{
	position: absolute;
	right: 80px;
	bottom: 20px;
	font-size: 12px;
	font-family: "黑体";
	color: white;
	

}
header a img{
	vertical-align: top;
	margin-right: 2px;

}

article{
	width: 100%;
	min-width: 1280px;
	float: left;

}
aside{

	background: rgb(42,46,61);
	width: 260px;
	float: left;

}
.aside-top{
	padding: 20px 45px;
	position: relative;
}
.aside-top img{
	border-radius: 25px;
	background: rgb(185,186,190);
	box-shadow: 1px 1px 4px 5px rgb(42,46,61),1px 1px 1px 6px rgb(185,186,190);
}
.aside-top span{
	display: inline-block;
	margin-left: 15px;
	font-size: 16px;
	font-family: "黑体";
	color: #f6f5f5;
	position: absolute;
	right: 90px;
	bottom: 40px;
}
.aside-hint ul{
	padding:23px 30px;
}
.aside-hint li{
	float: left;
	padding: 0 30px;
}
.aside-hint li:first-child{
	border-right: 1px solid rgb(54,54,71);
}
.aside-hint li span{
	text-align: center;
	display: block;
	font-size: 16px;
	font-family: "黑体";
	color: #6e8095;
}
.aside-hint li span:nth-child(2){
	font-size: 12px;
	font-family: "宋体";
}
.aside-directory{
	padding: 0;
	margin:0px;
}
.aside-directory>li {
	font-family: "黑体";
	padding: 15px 0px 15px 40px;
	color: #6e8095;
}
.aside-directory>li>span{
	display: block;
	padding-left:25px; 
	background: url(../img/work-list-coll.png) no-repeat 0 center ;
}
.aside-directory>li:nth-child(1)>span{
	background: url(../img/work-list-word.png) no-repeat 0 center ;
}
.aside-directory>li:nth-child(3)>span{
	background: url(../img/work-list-share.png) no-repeat 0 center ;
}
.aside-directory>li:nth-child(6)>span{
	background: url(../img/work-list-account.png) no-repeat 0 center ;
}
.aside-pack-list{
	padding-left: 25px;
}
.aside-pack-list li{
	margin: 15px 0;
}
.aside-pack-list li:last-child{
	margin-bottom: 0;
}
.aside-pack-list>li>span{
	display: block;
	padding-left: 30px;
	background: url(../img/arro-off.png) no-repeat 0 center,url(../img/pack-off.png) no-repeat 15px center ;
}

.aside-pack-list>li:nth-child(2)>span{
	display: block;
	padding-left: 30px;
	background: url(../img/arro-on.png) no-repeat 0 center,url(../img/pack-on.png) no-repeat 15px center ;
}
.aside-word-list{
	padding-left: 30px;
}
.aside-word-list li span{
	padding-left: 15px;
	background: url(../img/word-off.png) no-repeat 0 center ;
}
.aside-word-list li:nth-child(1) span{
	padding-left: 15px;
	background: url(../img/word-on.png) no-repeat 0 center ;
}
.aside-word-list li span a{
	color: inherit;
}
.aside-directory li:hover{
	background:rgb(56,61,71); 
}
.directory-active{
	color: #ededef;
}
section{
	margin-left: 260px;
	padding-bottom: 50px;
}
.nav-path{
	height: 30px;
	background: white;
	line-height: 30px;
	padding-left: 20px;
	color: #aaaaaa;
	font-family: "黑体";
}
.nav-path span{
	padding:0 5px; 
}
.nav-path span:first-child{
	padding:0 10px; 
}
.nav-path span a{
	color: rgb(34,137,191);
}
.search-item{
	height: 85px;
	width: 890px;
	background: white;
	padding: 15px;
	box-sizing: border-box;
	margin:auto;
	font-family: "黑体";
	color: #aaaaaa;
	font-size: 0;
	margin-bottom: 10px;
}

.content{
	margin-top: 20px;
}

.search-item div{
	font-size: 0;
	display: inline-block;
}
.search-item div>div,.search-item div label,.search-item div select{
	font-size: 12px;
}
.query-item{
	vertical-align: top;
}

#query-item-select{
	height: 25px;
	width: 70px;
	border:1px solid #ddd;
	text-align: center;
	line-height: 25px;
	margin-right: 5px;
	background: url(../img/select-icon.png) no-repeat 50px center ;
	position: relative;
	color: black;
}
#query-item-select>span{

	margin-right: 10px;
}
#query-item-select ul{
	text-align: center;
	position: absolute;
	width: 70px;
	display: none;
	background: white;
	border:1px solid rgba(34,137,191,0.9);
	top: 24px;
	left: -1px;
	padding: 0px;
	margin: 0px;
}
#query-item-select:hover{
	border:1px solid rgba(34,137,191,0.9);
	box-shadow: 1px 0px 2px 0px rgba(34,137,191,0.9);
}
#query-item-select:hover>ul {
	display: block;
}
#query-item-select ul li:hover{
	color: white;
	background: rgb(30,144,255);
}
#query-item-select ul li span{
	margin-right: 10px;
}

#buyer,#seller,#search-date,#success-tiem{
	width: 120px;
}
#people,#use-day{
	width: 70px;
}

.search-item label{
	margin-right: 15px;
	margin-left: 15px;
}

.business {
	margin-right: 15px;
	position: relative;
	padding-right:30px; 
	padding-left:15px; 
}
.business button{
	width: 33px;
	height: 38px;
	background: url(../img/change.png) no-repeat 0px center;
	position: absolute;
	border:none;
	bottom: 7px;
	text-align: right;
	color: #fff;
	font-family: "黑体";
	right: -3px;

}
#success-tiem,#people,#seller{
	margin-top: 5px;
}
.search-item select{
	height: 25px;
}
.search-item>button{
	width: 50px;
	height: 25px;
	color: white;
	background: rgb(56,138,193);
	border:none;
	position: relative;
	bottom: 15px;
	left: 30px;
}

.his-tab {
	width: 890px;
	height: 65px;
	margin: 0 auto;
	overflow: hidden;
}
.his-tab ul li{
	text-align: center;
	float: left;
	margin-right: 5px;
	padding-top: 2px;
}
.his-tab ul{
	padding: 0px;
	margin: 0px;
}
.his-data{
	width: 110px;
	height: 65px;
	background: white;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
}
.his-change-bar{
	width: 30px;
	height: 65px;
	background: white;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	line-height: 65px;
}
.his-serch-select{
	line-height: 65px;
	width: 130px;
	height: 65px;
	background: white;
	border-top:1px solid #ddd;
	border-left:1px solid #ddd;
	margin-right: 0px !important;
}
.his-serch-select span{
	padding-left:42px;
	line-height: 65px;
	display: inline-block;
	background: url(../img/hist.png) no-repeat 0px center;
	color: #535353;
}
.his-data p{
	margin: 0px;
	color: #323333;
}
.his-data p:nth-child(1){
	margin: 8px 0px;
}
.his-data p:nth-child(2){
	font-size: 16px;
	color: grey;
}
.his-data span{
	margin: 0px;
	color: #ec6500;
	font-size: 21px;
}

.his-change-bar span{
	font-size: 24px;
	color:  grey;
	font-family: "黑体";
}
.his-tab ul li:hover{
	border-top: 3px solid rgb(56,138,193);
	padding-top: 0px;
}

.total-date-show{
	margin: auto;
	margin-top: 20px;
	width: 890px;
	overflow: hidden;
}
.total-date-show p{
	margin: 5px 0px; 
}
.total-date-show ul{
	padding: 0px;
	margin: 0px;
}
.total-date-show ul li{
	float: left;
	width: 200px;
	height: 70px;
	background: white;
	margin-right: 30px;
	border:1px solid #ddd;
	position: relative;
}
.total-date-show ul li:last-child{

	margin-right: 0px;
}
.total-date-show ul li:nth-child(1){
	border-left: 3px solid rgb(67,178,159);
}
.total-date-show ul li:nth-child(2){
	border-left: 3px solid rgb(56,138,193);
}
.total-date-show ul li:nth-child(3){
	border-left: 3px solid rgb(207,74,54);
}
.total-date-show ul li:nth-child(4){
	border-left: 3px solid rgb(226,205,70);
}
.total-date-show{
}
.total-date-show p{
	margin-top: 0px;
}
.total-date-show span{
	font-family: "黑体";
	font-size: 10px;
	color: #aaaaaa;
	margin:5px 0px;
	display: inline-block;
}
.total-date-show ul li{
	padding: 10px;
}
.total-date-show ul li p{
	margin: 5px 0px;
}

.total-date-show ul li i{
	width: 60px;
	height:45px;
	display: inline-block;
	position: absolute;
	right: 15px;
	bottom: 12px;
}
.total-date-show ul li:nth-child(1) i{
	background: rgb(67,178,159);
	
}
.total-date-show ul li:nth-child(2) i{
	background: rgb(56,138,193);

}
.total-date-show ul li:nth-child(3) i{
	background: rgb(207,74,54);
	
}
.total-date-show ul li:nth-child(4) i{
	background: rgb(226,205,70);
	
}
.left-tab{
	float: left;

}
.tiem-show{
	width: 890px;
	margin: auto;
	margin-top: 15px;
	overflow: hidden;
	
}
.right-tab{
	float: right;
}
.small-tab{
	width: 350px;
	height: 350px;
	background: white;
}
.mid-tab{
	width: 530px;
	height: 350px;
	background: white;
}


.small-tab>span,.mid-tab>span{
	width: 100%;
	display: inline-block;
	background: rgb(244,245,247);
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	font-family: "黑体";
	color: #aaaaaa;
}
.item-tab {
	position: relative;
	height: 30px;
	padding-left: 18px;
	margin:0px;
	margin-top: 12px; 
}
.item-tab li{
	float: left;
	margin-right: 5px;
	text-align: center;

}

.item-tab li span,.item-tab li{
	border-radius: 5px 5px 0 0;
}


.item-tab li span{
	padding: 0px;
	width: 84px;
	background: rgb(237,237,240);
	display: block;
	height: 30px;
	line-height: 30px;

}
.item-tab li:first-child {
	border:1px solid #aaa;
	border-bottom: none;
}
.item-tab li:first-child span{
	background: white;
}
.item-data{
width: 490px;
	height: 250px;
	border:1px solid #aaa;
	margin: auto;
	padding-top: 30px;
	font-family: "宋体";
}
.item-data table{
	text-align: center;
		margin: auto;
	    border-collapse: collapse;
}
.item-data tbody{
}
.item-data td{
	width: 100px;
	height: 30px;
}
.item-data td,.item-data tr,.item-data tbody{
	border:1px solid #ddd;
}
.item-data td:hover{
	background: rgb(243,246,246);
}
.item-search form{
	padding: 15px 35px;
}
.item-search form li p,.item-search form li label{
	margin: 0px;
	color: #c3c2c2;
}
.item-search form li p{
	margin: 5px 0px;
}
.item-search form ul
{
	padding: 0px;
	margin:0px;

}
.item-search form input[name=item-name]{
	border:none;
	border-bottom: 1px solid #eee;
	width: 100%;
	height: 25px;
}
.item-search form input[name=item-price]{
	border:none;
	border-bottom: 1px solid #eee;
	width: 95px;
	height: 25px;
}
.item-search form input[name=item-mamager]{
	border:none;
	border-bottom: 1px solid #eee;
	width: 180px;
	height: 25px;
}
.item-search form li:nth-child(2) div{
	float: left;
}
.item-search form li:nth-child(2) div:first-child{
	border-right: 1px solid #eee;
}
.item-search form textarea[name=about-item]{
	border:none;
	border-bottom: 1px solid #eee;
	width: 100%;
	resize: none;
	height: 125px;

}
.item-search form li:last-child {
	height: 30px;

}
.item-search form li:last-child button{
	    width: 50px;
    height: 30px;
    background: rgb(56,138,193);
    color: white;
    float: right;
    border: none;
}
.item-search form input[id=about]{
	vertical-align: middle;
	line-height: 30px;
}
.item-search form input[id=about]+label{
	vertical-align: middle;
	line-height: 30px;
}

.calendar{
	padding: 0 18px;
}
.date-bar>div{
	margin-right: 3px;
	border:1px solid #ddd;
	float: left;
	position: relative;

}
.date-bar>div:last-child{
	margin-right: 0px;

}
.date-bar>div ul{
	padding: 0px;
	margin: 0px;
	display: none;
	position: absolute;
	border:1px solid #ddd;
	z-index: 1;
	background: white;
	left: -1px;
}
.date-bar-year span{
	height: 22px;
	width: 65px;
	padding-left:3px; 
	display: block;
	position: relative;
	line-height: 22px;
}
.date-bar-year:hover ul{
	display: block;
}
.date-bar-month:hover ul{
	display: block;
}

.date-bar li:hover{
	background: rgb(30,144,255);
}

.date-bar-month>span{
	height: 22px;
	width: 85px;
	padding-left:3px; 
	display: block;
	position: relative;
	line-height: 22px;
	padding-left: 20px;
	background: url(../img/slelct-down.png) no-repeat 45px center;
}
.date-bar-month li span{
	height: 22px;
	width: 85px;
	padding-left:3px; 
	display: block;
	position: relative;
	line-height: 22px;
	padding-left: 20px;
}
.date-bar-day span{
	height: 22px;
	width: 75px;
	padding-left:3px; 
	display: block;
	position: relative;
	line-height: 22px;
}
.date-bar-today span{
	height: 22px;
	width: 65px;
	padding-left:3px; 
	display: block;
	position: relative;
	line-height: 22px;
	text-align: center;
}
.date-bar-day:hover ul{
	display: block;
}



.date-bar>div  i{
	background: white;
	border:none;
	border-left:1px solid rgba(238,238,237,0.3);
	width: 20px;
	position: absolute;
	right: 2px;
	height: 22px;
	display: inline-block;
	background: url(../img/slelct-down.png) no-repeat 5px center;
}
.date-bar{
	font-family: "黑体";
	color: #535353;
	font-size: 12px;
}
.date-bar{
	height: 44px;
	padding: 10px 1px;
	border-bottom:  2px solid rgb(169,207,236);
}
.date-bar-month button{
	background: white;
	border:none;
	border-left:1px solid rgba(238,238,237,0.3);
	width: 20px;
	position: absolute;
	right: 0px;
	height: 22px;
	display: inline-block;
	background: url(../img/arro-off.png) no-repeat 5px center;
}


.week-list{
	padding: 0px;
	margin:0px 1px;
	height: 30px;
	border-bottom: 2px solid rgb(238,238,237);
}
.week-list li{
	font-family: "黑体";
	line-height: 30px;
	text-align: center;
	float: left;
	width: 42px;
	margin: 0 1px;
	display: block;
}
.day-list{
	padding: 0;
	margin: 0px 1px;
}
.day-list li {
	font-family: "黑体";
	height: 42px;
	text-align: center;
	float: left;
	width: 42px;
	margin: 1px 1px;
	display: block;
	padding: 8px 0px;
	text-align: center;
	border:1px solid white;
	font-size: 11.25px;

}

aside, article {
    padding-bottom: 800px;
    margin-bottom: -800px;
    overflow: hidden;
}

.day-list li:nth-child(7n) p,.day-list li:nth-child(7n+6) 
p,.day-list li:nth-child(9) span,.day-list li:nth-child(5) span{
	color: #c9161d;
}
.day-list li:hover{
	border:1px solid orange;
}
.car-data{
	font-family: "黑体";
	margin: 20px auto;
	border-collapse: collapse;
	text-align: center;
}
.car-data,.car-data tr ,.car-data td, .car-data th{
	border:1px solid #ddd;
	border-bottom:none;
	height: 25px;
	}
.car-data tr th:first-child{
	width: 70px;
}
.car-data tr th:nth-child(2){
	width: 90px;
}
.car-data tr th:nth-child(3){
	width: 290px;
}


.car-data progress{
	width: 160px;
    height: 5px;
    border-radius: 2px;
    margin-bottom: 5px;
    background-color:#e6e6e6;
    color: rgb(126,202,240); 
}
.car-data progress::-webkit-progress-bar { background: #e6e6e6; }
.car-data progress::-moz-progress-bar { background: rgb(126,202,240); }
.car-data progress::-webkit-progress-value  { background: rgb(126,202,240); }

.car-data tr:nth-child(2) progress::-moz-progress-bar { background: rgb(237,110,82); }
.car-data tr:nth-child(2) progress::-webkit-progress-value  { background: rgb(237,110,82); }
.car-data tr:nth-child(2) progress{ 
    	color: rgb(237,110,82); /*IE10*/
}

.car-data tr:nth-child(3) progress::-moz-progress-bar { background: rgb(239,128,79); }
.car-data tr:nth-child(3) progress::-webkit-progress-value  { background: rgb(239,128,79); }
.car-data tr:nth-child(3) progress{ 
    	color: rgb(239,128,79); /*IE10*/
}

.car-data tr:nth-child(4) progress::-moz-progress-bar { background: rgb(241,159,79); }
.car-data tr:nth-child(4) progress::-webkit-progress-value  { background: rgb(241,159,79); }
.car-data tr:nth-child(4) progress{ 
    	color: rgb(241,159,79); /*IE10*/
}
.car-data tr:hover{
	background: rgb(245,245,247);
	cursor:pointer;
}
.car-data tr:first-child:hover{
	background: white;
	cursor:auto;
}
.car-data th{
	font-size: 13px;
}
.mid-tab,.small-tab,.mid-tab>span,.small-tab>span{
	border-radius: 10px 10px  0 0;
}
.mid-tab,.small-tab{
	border:2px solid #ddd;
}