header{
	width: 100%;
	background: rgb(34,137,191);
	height: 55px;
	padding:0px  50px;
}
.topbar-right{
	float: right;
	line-height: 55px;
}
.topbar-left{
	float: left;
}
.topbar-left i{
	display: inline-block;
	width: 36px;
	height: 36px;
	background-image: url(../img/top-icon.png);
	margin-top: 10px;
}
.search-form,.user-handle{
	display: inline-block;
}
.user-handle{
	font-size: 12px;
	width: 100px;
}
.search{
	height: 30px;
	padding-left: 35px;
	width: 315px;
	border-radius: 15px;
	border:none;
}
.search-form{
	position: relative;
	margin-right: 20px;
}
.icon-size{
	width: 25px;
	height: 25px;
	color: #666;


}
.search-form i{
	left: 10px;
    bottom: -5px;
    position: absolute;
}
.user-handle svg{
	color: white;
	position: relative;
	bottom: -5px;
	
}
aside,article{
	padding-bottom: 800px;
	margin-bottom: -800px;
	overflow: hidden;
}
aside{
	width: 260px;
	background: rgb(42,46,61);
	float: left;
}
article{
	width: 1020px;
	float: left;
}
.user-handle a{
	color: white;
}
aside li{
	padding: 15px 0px;
	color: #6e8095;
}
.user-bar{
	padding: 15px 0 15px 45px;
}
.user-icon{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	display: inline-block;
	padding: 1px;
	box-shadow: 0 0 0 4px rgb(42,46,61), 0 0 1px 5px rgb(185,186,190);
	background: rgb(185,186,190);
}
.user-icon img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.user-bar span{
	display: inline-block;
	position: relative;
	top: -20px;
	right: -20px;
	color: white;
	font-family: "黑体";
	font-size:16px;
	
}
.user-bar li{
	padding: 0;
	margin-top: 20px;
	height: 35px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.user-bar li:nth-child(2){
	border:1px solid #666;
	margin-left: 30px;
	margin-right: 30px;
}
.user-bar a{
}
.work-list>ul>li{
	padding-left:45px; 
}
.work-list ul ul{
	padding-left: 20px;
}
.work-list{
	font-size: 12px;
}
.work-list div,.work-list a{
	padding-left: 20px;
}

.work-list-word>div{
	background: url(../img/work-list-word.png)  no-repeat 0 center;

}
.work-list-coll>div,.work-list-pic>div,.work-list-grow>div{
	background: url(../img/work-list-coll.png)  no-repeat 0 center;
}
.work-list-share>div{
	background: url(../img/work-list-share.png)  no-repeat 0 center;
}
.work-list-account>div{
	background: url(../img/work-list-account.png)  no-repeat 0 center;
}
.work-list-word ul>li div{
	background:url(../img/pack-off.png)  no-repeat 0px center;
}
.work-list-word-icon{
	padding-left: 15px;
	background:url(../img/arro-off.png)  no-repeat 0px center;
}
.work-list-word-icon-active{
	padding-left: 15px;
	background:url(../img/arro-on.png)  no-repeat 0px 2px;
}
.work-list-word-actice{
	font-size: 12px;
	font-family: "黑体";
	color: #ededef;
}
.work-list-word ul ul>li a{
	background: url(../img/word-off.png)  no-repeat 0 center;
}
.work-list-word{
	background: rgba(56,61,78,0.5);
}
.work-list ul ul li{
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 15px 0;
}
.nav-bar{
	height: 30px;
	width: 100%;
	background: white;
	padding-left: 30px;
	font-size: 12px;
	font-family: "黑体";
	color: #666;

}
.content{
	padding: 20px 0px 0px 60px;
}
.nav-bar ul li{
	float: left;
	line-height: 30px;
}
.search-bar{
	background: white;
	padding: 15px  20px 15px;
	height: 80px;
	width: 900px;
}
.search-box{
	width: 165px;
	display: inline-block;
	position: relative;
}
.search-box-mark{
	width: 295px;
	display: inline-block;
	margin-left: 40px;
}
.search-box select[id=search-item],.search-box select[id=use-time],.search-box select[id=people-num]{
	width: 70px;
}
.search-box select[id=buyer],.search-box select[id=seller],
.search-box select[id=search-date],.search-box select[id=success-tiem]{
	width: 120px;
}
.search-box select{
	border:1px  rgba(0,0,0,.2) solid;
}
.search-box label{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 12px;
	color: #666;
	font-family: "黑体";
}
.search-box:first-child{
	vertical-align: top;
}
.search-box select[id=seller],.search-box select[id=people-num],.search-box select[id=success-tiem]{
	margin-top: 10px;
}
#change{
	position: absolute;
	right: -33px;
    top: 5px;
	width: 35px;
	height:38px;
	background: url(../img/change.png) no-repeat; 
	line-height: 38px;
	text-align: center;
	font-size: 12px;
	color: white;
	font-family: "黑体";
}
.search-bar-handle{
	width: 50px;
	height: 25px;
	border:none;
	background: rgb(57,138,193);
	color: white;
	position: relative;
	top: -15px;
	left: 20px;
}
.hist-search{
	margin: 10px 0px;
}
.hist-search li{
	margin-right: 6px;
	background: white;
	float: left;
	box-shadow:  -1px -1px rgba(185,186,190,.4) ;
}
.hist-left,.hist-right{
	width: 30px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 21px;
	font-family: "黑体";
	color: rgb(176,176,175);

}
.hist-left a,.hist-right a{
	color: rgb(176,176,175);
}
.hist-time{
	text-align: center;
	width: 110px;
	height: 60px;
}
.hist-select{
	width: 130px;
	height: 60px;
}
.hist-time span{
	font-size: 21px;
	font-family: "微软雅黑";
	color: #ec6500;
}
.hist-time p{
	margin-top:5px;
	font-size: 12px;
	font-family: "微软雅黑";
}
.hist-time p:nth-child(2){
	font-size: 16px;
	font-family: "微软雅黑";
	color: rgb(176,176,175);
}
.hist-time:hover{
	border-top: 3px rgb(33,137,192) solid;
}
.hist-time:hover p:first-child{
	margin-top:2px;
}
.hist-select{
	font-size: 12px;
	font-family: "微软雅黑";
	line-height: 60px;

}
.hist-select span{
	background: url(../img/hist.png) no-repeat 0 center ; 
	display: inline-block;
	padding-left: 47px;
	margin:0 15px;
}
.month-total li{
	position: relative;
	width: 200px;
	background: white;
	height: 70px;
	float: left;
	margin-right: 34px;
	box-shadow: 1px 1px 3px 1px rgb(180, 180, 170);
}
.month-total li:nth-child(1){
	border-left: 4px solid rgb(68,178,158);
}
.month-total li:nth-child(2){
	border-left: 4px solid rgb(57,138,193);
}
.month-total li:nth-child(3){
	border-left: 4px solid rgb(207,75,54);
}
.month-total li:nth-child(4){
	border-left: 4px solid rgb(225,205,70);
}
.month-total li p{
	font-size: 12px;
	font-family: "黑体";
	margin: 10px ;
}
.month-total li span{
	font-size: 10px;
	font-family: "黑体";
	color: #aaaaaa;
	margin: 10px ;
}
.month-total li  div{
	width: 60px;
	height: 45px;
	position: absolute;
	top: 10px;
	right: 10px;
}
.month-total li:nth-child(1) div{
	background: rgb(68,178,158);
}
.month-total li:nth-child(2) div{
	background: rgb(57,138,193);
}
.month-total li:nth-child(3) div{
	background: rgb(207,75,54);
}
.month-total li:nth-child(4) div{
	background: rgb(225,205,70);
}
.item-content {
	margin:10px 0px; 
}
.item-content>div{
	float: left;
	margin-right: 20px;
	height: 355px;
	background:white;
	border-radius: 10px;
	box-shadow: 1px 1px 1px 0px rgb(180, 180, 170),-1px -1px 1px 0px rgb(180, 180, 170);
	
}
.item-info{
	width: 530px;
}
.item-search{
	width: 350px;
}
.item-info>span,.item-search>span{
	border-radius: 10px 10px 0 0;
	background: rgb(244,245,247);
	width: 100%;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	padding-left: 20px;
	font-family: "黑体";
	font-size: 12px;
	color: #aaa;
}
.item-tab{
	margin: 10px 0px 0px 20px;
}
.item-tab li{
	float: left;
	margin-right: 5px;
	width: 85px;
	height: 30px;
	text-align: center;
	background: rgb(237,236,241);
	line-height: 30px;
	font-size: 12px;
	border-radius: 5px 5px 0px 0px;

}
.item-tab span{
	display: inline-block;
	width: 85px;
	height: 30px;
		border-bottom: 1px solid #fff;
	z-index:2;

}
.item-tab-content{
	width: 490px;
	height: 250px;
	border-radius:0px 10px 10px 10px;
	border:1px solid #ddd;
	margin-top: -1px;
	margin-left: -1px;
	overflow: hidden;
	    z-index: -2;
	
}
.item-actice{
	border:1px solid #ddd;
	background: white !important;
	border-bottom: 1px solid #fff;
}
.item-data{
	margin: 0 auto;
	border-collapse:collapse;
	margin-top: 30px;
}
.item-data td{
	width: 100px;
	height: 30px;

}
.item-data td:hover{
	background: rgb(224,245,247);
}
.item-data,.item-data td,.item-data tr{
	 border:1px solid #ddd;
}
.item-search form{
	padding: 0 30px;
	margin-top: 15px;
}
.item-search p{
	font-size: 12px;
	font-family: "微软雅黑";
	color: #c3c2c2;
}

.item-search-title input{
	border:none;
	border-bottom: 1px solid #ddd;
	width: 100%;
	height: 30px;
}
.item-search-info span{
	float: left;
	display: inline-block;
}
.item-search-info span:first-child{
	border-right: 1px solid #ddd;
}
.item-search-price{
	width: 100px;
	height: 45px;
}
.item-search-mamager{
	width: 190px;
	height: 45px;
}
.item-search-price input{
	height: 30px;
	border:none;
	width: 100px;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
.item-search-mamager input{
	height: 30px;
	width: 190px;
	border:none;
	border-bottom: 1px solid #ddd;
}
.item-search-des{
	margin-top: 5px;
	width: 290px;
	height: 145px;
}
.item-search-des textarea{
	overflow: hidden;
	border:none;
	border-bottom: 1px solid #ddd;
	resize: none;
}
#protocol{

}
.item-protocol{
	line-height: 30px;
	height: 30px;
	font-size: 12px;
font-family: "微软雅黑";
}
.item-protocol input{
	vertical-align: middle;
}
.item-protocol label{
	vertical-align: middle;
	color: #c3c2c2;
}
.item-protocol button{
	width: 50px;
	height: 30px;
	background: rgb(56,138,193);
	color: white;
	float: right;
	border:none;
	
}

.car-data{
	margin: 0 auto;
	border-collapse:collapse;
	margin-top: 20px;
}
.car-data th,.car-data td ,.car-data tr{
	height: 25px;
	text-align: center;
	border:1px solid #ddd;
	border-bottom: none;
}
.car-data tr>td:nth-child(1){
	width: 70px;
}
.car-data tr>td:nth-child(2){
	width: 90px;
}
.car-data tr>td:nth-child(3){
	width: 290px;
}
.car-data tr:hover{
	background: rgb(245,245,247);
	cursor:pointer;
}
.car-data progress{
	width: 160px;
    height: 5px;
    border-radius: 2px;
    margin-bottom: 7px;
    background-color:#e6e6e6;
    color: rgb(126,202,240); 
}
.car-data progress::-webkit-progress-bar { background: #e6e6e6; }
.car-data progress::-moz-progress-bar { background: rgb(126,202,240); }
.car-data progress::-webkit-progress-value  { background: rgb(126,202,240); }

.car-data tr:nth-child(2) progress::-moz-progress-bar { background: rgb(237,110,82); }
.car-data tr:nth-child(2) progress::-webkit-progress-value  { background: rgb(237,110,82); }
.car-data tr:nth-child(2) progress{ 
    	color: rgb(237,110,82); /*IE10*/
}

.car-data tr:nth-child(3) progress::-moz-progress-bar { background: rgb(239,128,79); }
.car-data tr:nth-child(3) progress::-webkit-progress-value  { background: rgb(239,128,79); }
.car-data tr:nth-child(3) progress{ 
    	color: rgb(239,128,79); /*IE10*/
}

.car-data tr:nth-child(4) progress::-moz-progress-bar { background: rgb(241,159,79); }
.car-data tr:nth-child(4) progress::-webkit-progress-value  { background: rgb(241,159,79); }
.car-data tr:nth-child(4) progress{ 
    	color: rgb(241,159,79); /*IE10*/
}




.data-select{
	padding:10px 0px;
	border-bottom: 1px solid blue;
}
.data-select select:nth-child(1){
	width: 70px;
}
.data-select select:nth-child(2){
	width: 65px;
}
.data-select select:nth-child(3){
	width: 85px;
}
.data-select button{
	width: 65px;
	background: white;
	border:1px solid rgb(170,170,170);
	
}
.date-content{
	padding: 0 20px;
}
.data-day{
	border-bottom: 1px solid #eee;
}
.data-day li{
	text-align: center;
	float: left;
	width: 44px;
	height: 40px;
	line-height: 40px;
}
.clear-boder{
	border: none;
}
.data-list li {
	margin: 0.5px;
	text-align: center;
	float: left;
	width: 43px;
	height: 40px;
}
.data-list li p, .data-list li span{
	margin: 3px;
	font-size: 11.25px;
	font-family: "黑体";
}
.data-list li:nth-child(7n) p{
	color: red;
}
.data-list li:nth-child(7n+6) p{
	color: red;
}
.data-list li:nth-child(5) span{
	color: red;
}
.data-list li:nth-child(9) span{
	color: red;
}
.data-list li:nth-child(13) {
	border:1px solid orange;
}
.data-list li:nth-child(16) {
	border:1px solid orange;
}
.data-list li:nth-child(23) {
	border:1px solid orange;
}
.data-list li:hover{
	border:1px solid orange;
}
.data-list li:hover p{
	margin-top: 2px;
}